@model IEnumerable<ASP.NETCORE_PROJECT.Models.Product>
@foreach (var item in Model)
{
    <div class="col-lg-4 col-md-6 col-sm-6 pb-1 p-30" style="border:1px solid #f1f1f1">
        <div class="product-item bg-light mb-4">
            <div class="product-img position-relative overflow-hidden">
                <img class="img-fluid w-100" src="~/Admin/assets/images/product/@item.product_image" alt="" style="height:350px;object-fit:contain">
                <div class="product-action">
                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                    <a class="btn btn-outline-dark btn-square" asp-action="Details" asp-controller="Home" asp-route-id="@item.product_id"><i class="fa fa-search"></i></a>
                </div>
            </div>
            <div class="text-center py-4">
                <a class="h6 text-decoration-none text-truncate" asp-action="Details" asp-controller="Home" asp-route-id="@item.product_id">@item.product_name</a>
                <div class="d-flex align-items-center justify-content-center mt-2">
                    <h5>@string.Format("{0:#,0}", item.product_price) VNĐ</h5><h6 class="text-muted ml-2"><del>@string.Format("{0:#,0}", item.product_price) VNĐ</del></h6>
                </div>
                <div class="d-flex align-items-center justify-content-center mb-1">
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small>(99)</small>
                </div>
                <div class="d-flex align-items-center justify-content-center mb-1">
                    <button type="button" class="ajax-add-to-cart btn btn-outline-dark btn-square" data-id="@item.product_id" href=""><i class="fa fa-shopping-cart"></i></button>
                </div>
            </div>
        </div>
    </div>
}