@using Microsoft.AspNetCore.Identity
@using ASP.NETCORE_PROJECT.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<IdentityRole> RoleManager
@model IEnumerable<ApplicationUser>
@{
    ViewBag.Title = "Admin | List user page";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Main -->
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-ticket icon-gradient bg-mean-fruit"></i>
                </div>
                <div>
                    User
                    <div class="page-title-subheading">
                        View, create, update, delete and manage.
                    </div>
                </div>
            </div>

            <div class="page-title-actions">
                <a class="btn-shadow btn-hover-shine mr-3 btn btn-primary" asp-area="" asp-controller="" asp-action="">
                    <span class="btn-icon-wrapper pr-2 opacity-7">
                        <i class="fa fa-plus fa-w-20"></i>
                    </span>
                    Create
                </a>
            </div>
        </div>
    </div>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
    }
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">

                <div class="card-header">

                    <form>
                        <div class="input-group">
                            <input type="search" name="search" id="search"
                                   placeholder="Search everything" class="form-control">
                            <span class="input-group-append">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-search"></i>&nbsp;
                                    Search
                                </button>
                            </span>
                        </div>
                    </form>

                    <div class="btn-actions-pane-right">
                        <div role="group" class="btn-group-sm btn-group">
                            <button class="btn btn-focus">This week</button>
                            <button class="active btn btn-focus">Anytime</button>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="align-middle mb-0 table table-bordered table-striped table-hover" style="text-align:center">
                        <thead>
                            <tr>
                                <th class="text-center">User name</th>
                                <th class="text-center">Full name</th>
                                <th class="text-center">Email</th>
                                <th class="text-center">Address</th>
                                <th class="text-center">Phone number</th>
                                <th class="text-center">Roles</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {                         
                                                          

                                @*<tr>
                                    <td class="text-center text-muted">@userRole.Id - @userRole.RoleName</td>
                                </tr>*@
                                
                                <tr>
                                    <td class="text-center text-muted">@item.UserName</td>
                                    <td class="text-center text-muted">@item.FullName</td>
                                    <td class="text-center text-muted">@item.Email</td>
                                    <td class="text-center text-muted">@item.Address</td>
                                    <td class="text-center text-muted">@item.PhoneNumber</td>
                                   @* <ul>
                                        @foreach(var role in item.Roles)
                                        {
                                            <li>@role</li>
                                        }
                                    </ul>*@

                                    @*<td class="text-center">
                                        <a asp-action="Edit" asp-controller="Brand" asp-route-id="@item.Id" title="Edit"
                                           data-placement="bottom" class="btn btn-outline-warning border-0 btn-sm">
                                            <span class="btn-icon-wrapper opacity-8">
                                                <i class="fa fa-edit fa-w-20"></i>
                                            </span>
                                        </a>
                                        <form class="d-inline" asp-action="Delete" asp-controller="Brand" asp-route-id="@item.Id">
                                            <button class="btn btn-hover-shine btn-outline-danger border-0 btn-sm"
                                                    type="submit" data-toggle="tooltip" title="Delete"
                                                    data-placement="bottom"
                                                    onclick="return confirm('Are you sure to delete it ?')">
                                                <span class="btn-icon-wrapper opacity-8">
                                                    <i class="fa fa-trash fa-w-20"></i>
                                                </span>
                                            </button>
                                        </form>
                                    </td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Main -->
